
# Ignore datasets- download these from ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Datasets/NSFG
2002FemPreg.dat
2002FemResp.dat

.DS_Store

# ThinkStats code is available from http://greenteapress.com/thinkstats/data.html
thinkstats.code/